/* Resetting */
html, * {
   margin: 0;
   padding: 0;
   font-size: 100%;
   font: inherit;
}
body {
   line-height: 1.1;
   margin: 0 5em;
}

em {
   font-style: italic;
}

h1, h2, h3, h4, p {
   margin: 0.5em;
}
strong {
   font-weight: bold;
}

/* Typography */
body {
   font-size: 14pt;
   font-family: Georgia, Times, "Times New Roman", serif;
}
h1, h2, h3, h4 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
   font-weight: normal;
   font-size: 235%;
   text-align: center;
   border-bottom: 1px solid #CCC;
   padding-bottom: 0.2em;
}
h2 {
   font-weight: normal;
   font-size: 177%;
}
h3 {
   font-weight: bold;
   font-size: 133%;
}
h4 {
   font-weight: bold;
   font-size: 133%;
}
code {
/*   font-family: Consolas, monaco, monospace;*/
   font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
h1 code, h2 code {
   font-weight: bold;
}

p {
   margin-bottom: 0.8em;
}

pre {
   background-color: #F3F3F3;
   overflow-x: scroll;
   padding: 0.2em;
   font-size: 90%;
   margin-left: 1em;
   margin-right: 1em;
}

ol, ul {
   padding-left: 3em;
}

li {
   margin: 0.4em;
}

/* links */
a {
   text-decoration: none;
   color: blue;
   border-bottom: 1px dotted blue;
}
a:hover {
   font-weight: bold;
   border-bottom-style: solid;
}
a:visited {
   color: purple;
   border-color: purple;
}

.small {
   font-size: 56.25%
}

dl {
   padding: 0.5em;
   border-top: 1px solid #CCC;
   border-bottom: 1px solid #CCC;
}
dt {
   float: left;
   clear: left;
   width: 120px;
   text-align: right;
   font-weight: bold;
}
dd {
   margin: 0 0 0 150px;
   padding: 0 0 0.5em 0;
}
